.prf {
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

.crd {
  width: 40%;
  margin: auto;
  padding: 10px;
}

.dta {
  width: 10rem;
}

.tr {
  margin-bottom: -8px !important;
  font-size: 14px;
}

.sp {
  color: rgb(155, 155, 155);
  font-size: 10px;
}

.com {
  display: flex;
}
.prfimg {
  width: 100%;
  height: 17rem;
}

.btnprf {
  background-color: #ffaf00;
  color: white;
  padding: 10px 70px 10px 70px;
  margin: 20px auto 0 auto !important;
}

.btnprf:hover {
  text-decoration: none;
  color: white;
  background-color: #f7a800;
}

.imgss {
  width: 10rem;
  height: 12rem;
}

.if {
  font-weight: bold;
  color: rgb(59, 59, 59);
}

.cardtrip {
  margin-top: 5%;
  justify-content: center !important;
  align-items: center !important;
}

.cardorder {
  width: 60%;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}
.namebook {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.datas {
  margin-top: 3%;
}

.not {
  background-color: #f7a800;
  color: white;
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

.cek {
  background-color: red;
}

.cekpay {
  color: white;
  width: 40%;
  background-color: #f7a800;
  margin-left: 45%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.cekpay:hover {
  color: white;
  background-color: #d39309;
  text-decoration: none;
}

.data {
  font-size: 12px;
  margin-bottom: -5px;
}

.paystat {
  color: #ffffff;
  background-color: #ffd06c;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  width: 60%;
}

.subtotals {
  color: rgb(253, 61, 61) !important;
  font-weight: bold;
}
