.drop {
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  position: fixed;
  z-index: 1;
  height: 100vh;
}

.containerdrop {
  position: fixed;
  height: 190px;
  width: 200px;
  background-color: #ffff;
  padding: 12px 5px;
  top: 4.2em;
  right: 7em;
  margin-top: 10px;
  z-index: 2;
}

.har {
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
}

.drop-text {
  color: rgb(68, 68, 68);
  font-weight: bold;
}

.tog {
  z-index: 4;
  right: 0 !important;
  position: absolute;
  margin-top: -25px;
}

.links:hover {
  text-decoration: none;
}
