.loading {
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  padding: 160px;
}
.animation {
  border: 1px solid white;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
